<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h4>For getting sum put numbers 'a' and 'b' below:</h4>
<form th:action="@{/calc/sum/result}" method="get">
    <label>
        <input type="number" step="any" name="a" required placeholder="a">
    </label>
    <label>
        <input type="number" step="any" name="b" required placeholder="b">
    </label>
    <input type="submit">
</form>
<div th:if="${result != null}">
    <p>Result of (<span th:text="${param.a}"></span> + <span th:text="${param.b}"></span>) =
        <span th:text="${result}"></span></p>
</div>
</body>
</html>